*{
    margin: 0px;
}
.navbar li{
    list-style: none;
    float: right;
    margin-top: 13px ;
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color:white;
    padding: 3px 13px ;
    display: block;
   
}
.navbar a:hover{
    color: #FCA311;
}
.navbar ul{
   overflow:hidden;
} 
.navbar
{
    background-color: black;
    position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
}
img{
    height: 63px;
    display: block;
    float: left;
    margin-left: 53px;
    margin-top: 1px;
}
footer{
    background-color:black;
    color:#e5e5e5 ;
}
p{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
footer{
    height:412px;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'map  contact'
    'cr cr';
    

}
.foot{
    margin:3px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 20px;
    
}
.navbar li:hover{
    color: #FCA311;
    text-decoration: underline;
}
#footer-sec{
    width: 100%;
    padding: 3px;
    grid-area: cr;
  
}
#Contact{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   grid-area: contact;
   
}

#query{
    height: 50px;
    width: 200px;
}
.foot .footer-icons{
    margin-top: 25px;
  }
  
.foot .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
#map{
    grid-area: map;
}
.contactus{
    font-size: 30px;
}
