html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*      OUR CODE         */



/* NAV */
.navbar li{
    list-style: none;
    float: right;
    margin-top: 18px ;
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color:white;
    padding: 3px 13px ;
    display: block;
   
}
.navbar a:hover{
    color: #FCA311;
}
.navbar ul{
   overflow:hidden;
} 
.navbar
{
    background-color: black;
    position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
}
img{
    height: 63px;
    display: block;
    float: left;
    margin-left: 53px;
    margin-top: 1px;
}

/* CARDS */
.department {
    width:100%;
    height:100%;
    padding:100px 0;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    transition: all 0.5s ease-in-out; 
}

.department button {    
    display: flex;
    justify-content: center;
    color: #14213D;
    font-size: 30px;
    font-family:monospace;
    margin: 50px;
    width: 250px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 2px 6px 5px #8d99ae;
    border: 2px #14213D solid;
    padding: 150px 100px;
    transition-property: transform, letter-spacing, font-size;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    /* transition: trasnform,font-size 0.1s ease-in; 
    transition: border 0.4s ease-in-out;  */
}

#mar {
    background: url(Marketing.jpg) no-repeat center center/cover ;
}
#fin {
    background: url(finance.jpg) no-repeat center center/cover;
}
#inv {
    background: url(Investment.jpg) no-repeat center center/cover;
}
button:hover{
    transform: scale(1.1);
    
    /* filter: invert(100%); */
    box-shadow: 4px 8px 10px #8d99ae;
    letter-spacing: 2px;
    font-size: 32px;
    color: #fca311;
    border: 2px #000 solid;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

/* NEWS */
.news{
    background-color:#E5E5E5 ;
    text-align: center;
    font-size: 50px;
    height: 400px;
    border-top:solid black 2px;
    border-bottom:solid black 2px;
}

.news p{
    font-size: 20px;
}

/* EVENTS */
.events{
    background-color:#E5E5E5 ;
    text-align: center;
    font-size: 50px;
    height: 400px;
    border-bottom:solid black 2px;
}

.events p{
    font-size: 20px;
}


/* ABOUT US */

.aboutus {
    background-color:#E5E5E5 ;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: justify;
    align-items: flex-start;
    font-family: monospace;
}

.cont{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#heading{
    padding-bottom: 10px;
    font-size: 60px;
    
}

#content{
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 30px;
    margin-right: 240px;
}



.logo {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 60px;
    border-radius: 50%;
    border: 2px #14213D solid;
    padding: 0;
    box-shadow: 0px 0px 10px #14213D;
    height: 150px;
    width: 150px;
}



/*      CORE TEAM        */


.team {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.team h1{
    text-align: center;
    padding: 70px 50px;
    color: #14213D;
    font-size: 80px;
    font-family: monospace;

}

.team li{
    padding: 0px 100px;
    padding-bottom: 40px;
}

.team ul{
    margin: 0 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* flex-basis: 50%; */
    flex-wrap: wrap;
}

.team h3{
    text-align: center;
    transition:transform 0.1s;
    font-size: 40px;
    font-family: monospace;
    font-style: normal;
    color: black;
    text-decoration: none;
    /* transition:all 1s; */
}

.team h3:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    color: #fca311;
    cursor: pointer;
    transform: scaleX(1.1);
}

.team h4{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: #6c757d;
    /* padding-bottom: 20px; */
}

.team img{
    height: 240px;
    width: 200px;
    display: flex;
    justify-content: center;
    border: 2px #14213D solid;
    border-radius: 2%;
    box-shadow: 0 0 5px #14213D;
}

/* footer */
footer{
    height:412px;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'map  contact'
    'cr cr';
    background-color:black;
    color:#e5e5e5 ;
    

}
.foot{
    margin:3px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 20px;
    
}
.navbar li:hover{
    color: #FCA311;
    text-decoration: underline;
}
#footer-sec{
    width: 100%;
    padding: 3px;
    grid-area: cr;
  
}
#Contact{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   grid-area: contact;
   
}

#query{
    height: 50px;
    width: 200px;
}
.foot .footer-icons{
    margin-top: 25px;
  }
  .icons{
    height: 19px;
    width: 19px;
    display: block;
    float: left;
    margin-left: 16px;
    margin-top: -17px;
}
  
.foot .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
#map{
    grid-area: map;
}
.contactus{
    font-size: 30px;
}